/* menú */
*{
 /* agrege */ box-sizing: border-box;/* agrege */
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/* body{
background: #313D52;
} */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(231, 158, 182);
  height: 64px;
  padding: 12px;
  background-attachment: scroll;
}
header .logo {
font-size: 24px;

}
header .logo i {
  font-size: 25px;
}
.navegacion{
width: 1000px;
margin: 30px auto;
background: #fff;
}

.navegacion ul{
list-style: none;
}

.menu > li{
position: relative;
display: inline-block;
}

.menu > li > a{
display: block;
padding: 15px 20px;
color: #353535;
font-family: 'Open sans';
text-decoration: none;
}

.menu li a:hover{
color: #CE7D35;
transition: all .3s;
}

/*   Submenu */

.submenu{
position: absolute;
background: #333333;
width: 120%;
visibility: hidden;
opacity: 0;
transition: opacity 1.5s;
}

.submenu li a{
display: block;
padding: 15px;
color: #fff;
font-family: 'Open sans';
text-decoration: none;
}

.menu li:hover .submenu{
visibility: visible;
opacity: 1;
}
/* slider */
.slider{
  width: 95%;
  margin:auto;
  overflow: hidden;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;

  /* animación */
  animation: cambio 20s infinite;
  animation-direction: alternate;
  animation-timing-function: lineal;
}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  height: 350px;
  width: 100%;
  object-fit: cover;
  
}

@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left:-200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}
/* titulo 1*/

.titulo{
  color:rgb(231, 158, 182);
  margin: auto;
  text-align: center;
  font-size: 50px;
  padding-left: 12%;
  padding-right: 7%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* background-image: url(imagenes/eberhard-grossgasteiger-XLIKVFCGpBw-unsplash.jpg); */
  background-position: center;
  background-size: cover;
  background-size: text;
  -webkit-background-clip:text;

   -webkit-text-stroke:1.7px rgb(230, 25, 93);
}
/* fondo */
body{
    background-color: rgb(85, 201, 255);
}
/* introduccion */
.intro{
margin: 50px;
font-size: 20px;
font-weight: 60px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: justify;
color:rgb(255, 253, 253)
}
/* 1 er tema TITULO tecnologia */
.titulo_tecnologia{
  text-align: center;
  font-size: 150%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 60px;
  color: rgb(200, 62, 255);
}
/* introduccion */
.intro_tecnologia{
  margin: 50px;
font-size: 20px;
font-weight: 60px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: justify;
color:rgb(255, 253, 253)
}
/* titulo1 */
.titulo_1{
  text-align: center;
  font-size: 150%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 60px;
  color: rgb(255, 15, 95);
}
.parrafo_1{
  margin: 50px;
  font-size: 20px;
  font-weight: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  color: rgb(255, 253, 253);
}
.imagen_1{
display: block;
margin-left: auto;
margin-right: auto;
width: 51%;
}
.titulo_2{
  text-align: center;
  font-size: 150%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 60px;
color:rgb(255, 15, 95);
}
.parrafo_2{
  margin: 50px;
  font-size: 20px;
  font-weight: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  color: rgb(255, 253, 253);
}
.imagen_2{
  display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
.titulo_3{
  text-align: center;
  font-size: 150%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 60px;
color:rgb(255, 15, 95);
}
.parrafo_3{
  margin: 50px;
  font-size: 20px;
  font-weight: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  color: rgb(255, 253, 253);
}
.imagen_3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.titulo_4{
  text-align: center;
  font-size: 150%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 60px;
color:rgb(255, 15, 95);
}
.parrafo_4{
  margin: 50px;
  font-size: 20px;
  font-weight: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  color: rgb(255, 253, 253);
}
.imagen_4{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.titulo_5{
  text-align: center;
  font-size: 150%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 60px;
color:rgb(255, 15, 95);
}
.parrafo_5{
  margin: 50px;
  font-size: 20px;
  font-weight: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  color: rgb(255, 253, 253);
}
.imagen_5{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 12px;
}
/* footer */
footer{
  background: rgb(241, 194, 241);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #CE7D35;
  
}
footer ul{
  display: flex;
  list-style: none;
}
footer li{
  margin-left: 10px;
}
footer p{
  margin-bottom: 0;
}
/*MEDIA QUERIES*/
@media (max-width: 540px) {
  header nav{
      display: none;
  }
  header .fa-bars {
      display: block;
  }
}