*{
 /* agrege */ box-sizing: border-box;/* agrege */
margin: 0;
padding: 0;
}
body{
  background: #fff;
}
.nav-brand{
  margin: 0;
  padding: 20px;
  background: #fff;
}
.brand{
  text-align: center;
  font-size: 40px;
  font-family: 'PT Sans', sans-serif;
}
/* nav - main */
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DF362D;
}
li{
  float: left;
}
li a{
  font-family: 'Poppins', sans-serif;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #fff;
}

/* SHOWCASE(VITRINA) */
.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #DF362D;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
}
.btn:hover{
  opacity: 0.9;
}
.showcase{
  width: 100%;
  height: 550px;
  background: url("imagenes/Showcase/brooke-cagle-WHWYBmtn3_0-unsplash.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 50px;
  /*margin-bottom: 20px;*/
  color: #fff;
}

.showcase h2,
.showcase p{
    margin-bottom: 10px;
}
/* Sub-Title-1 */
.sub-title{
  background:  #DF362D;
  width: 100%;
  height: 150px;
  margin-bottom: 40px;
  margin: 0;
  padding: 20px;

}
.sub-title-1{
  text-align: center;
  font-size: 40px;
  font-family: 'PT Sans', sans-serif;
  padding: 19px;
  color: #ffffff;
}
/* News.container-women */
.container-women {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin: 40px 0;
  padding: 23px;
}

.container-women .img-women {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.each-woman{
  padding: 20px;
}
/* Animation */
.each-woman:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}


.container-women .title-woman{
  color: #B8390E;
  font-size: 30px;
  margin: 10px 0;
  padding: 4px 4px 0px 4px;
}

.container-women .description-woman{
  color: #000;
  font-size: 17px;
  line-height: 30px;
  padding: 10px;
}
.container-women a {
  padding: 10px 0;
  color: #df1212;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

/* -------------------------------- */

/* Social */
.social {
  margin: 0px;
  padding: 20px;
  background: #DF362D;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
  color: #fff;
}

 /* Footer */
 .footer {
  background: #8e9aaa;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}